<div class="container-fluid ">
<h3 class="text-center">Attendance List</h3> <br><br>

<div class="row">

  <div class="col">

    <h3>User Data:</h3>

    <h4>Name: </h4>
    <h4><%= @user.name %></h4>

  </div>
  
  <div class="col card">
  <div class="card-header">
        <h4 class="title has-text-dark has-text-centered">Created Events</h4>
        </div>
        <ul class="created-events-list">
          <% @events.each do |event| %>
            <li class="box has-text-centered">
              <%= link_to  event.title, event_path(event.id) %>
              <%= content_tag(:p, "#{event.date}  ") %>
            </li>
          <% end %>
        </ul>
      </div>
  
 
    <div class="col card">
    <div class="card-header">
    <h4>Upcoming</h4>
    </div>
    <ul class="list-group col">
      <% @user.attended_events.upcoming.each do |event| %>
        <li class="list-group-item col"><tr>
        <td><%= event.title %></td>
        
       </tr></li>
       
       
      <% end %>
      </ul>
      </div>
    <br>
    <div class="col card">
    <div class="card-header">
    <h4>Attended</h4>
    </div>
    <ul class="list-group col">
    <% @user.attended_events.previous.each do |event| %>
      <li class="list-group-item col"><tr>
        <td><%= event.title %></td>
       </tr></li>
    <% end %>
    </ul>
    
  </div>
 </div>